<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sorteio</title>
    </head>
    <body>
        <h1>Números sorteados</h1>
        <ol>
            <li th:text="${dados[0]}">numero</li>
            <li th:text="${dados[1]}">numero</li>
            <li th:text="${dados[2]}">numero</li>
            <li th:text="${dados[3]}">numero</li>
            <li th:text="${dados[4]}">numero</li>
            <li th:text="${dados[5]}">numero</li>
        </ol>
    </body>
</html>